@import "././resources/styles/__/variables";

.header-bottom {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $media-grid-md) {
    height: 48px;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    overflow: auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 42px;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 29px;
      color: $color-gray-900;
      white-space: nowrap;

      &:not(:first-child) {
        margin-left: 45px;
      }

      @media (max-width: $media-grid-md) {
        font-size: 13px;

        &:first-child {
          margin-left: 41px;
        }

        &:not(:first-child) {
          margin-left: 25px;
        }
      }

      @media (max-width: $media-grid-sm) {
        font-size: 12px;

        &:first-child {
          margin-left: 0;
        }

        &:not(:first-child) {
          margin-left: 23px;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: $color-red-700;
        }
      }

      &:active {
        color: $color-red-700;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: $color-black;

    @media (hover: hover) {
      &:hover {
        color: $color-red-700;
      }
    }

    &:active {
      color: $color-red-700;
    }

    .svg-left {

      @media (max-width: $media-grid-md) {
        width: 70px;
        margin-right: 24px;
      }

      @media (max-width: $media-grid-sm) {
        display: none;
      }
    }

    .svg-right {
      margin-top: 1px;

      @media (max-width: $media-grid-md) {
        display: none;
      }
    }
  }
}