-
  collections = [
    {
      title: 'Natural',
      image: 'images/content-catalog--1.jpg',
      link: 'collection.html',
    },
    {
      title: 'Classic',
      image: 'images/content-catalog--2.jpg',
      link: 'collection.html',
    },
  ];
link(rel="stylesheet", href="css/page/catalog/cards.css")
section(class="catalog_cards", data-all="2", data-limit="2")
  each collection in collections
    a(href=`${collection.link}`, class="card")
      span(class="title")
        = collection.title
      img(src=`${collection.image}`, alt=`${collection.title}`, class="img")