extends ../layouts/app

block title
  | Catalog

block main
  -
    breadcrumbs = [
      {
        name: 'Каталог продукции Radianz',
      },
    ];
  include ../partials/pages/breadcrumbs

  link(rel="stylesheet", href="css/pages/catalog.css")
  div(class="container container-fixed")
    h1(class="catalog-h1")
      | Каталог продукции Radianz
    div(class="catalog-wrapper")
      include ../page/catalog/cards
      include ../page/catalog/buttons