link(rel="stylesheet", href="css/page/docs-sizes/content.css")
section(class="docs-sizes content")

    div(class="item")
      img(src="images/content-docs-sizes.png", alt="", class="right")
      div(class="left")
        div(class="text")
          | Коллекции
        div(class="title")
          | Natural, Classic
        table(class="table")
          thead
            tr
              th
                | Толщина
              th
                | Длина
              th
                | Ширина
              th
                | Площадь (кв.м)
          tbody
            tr
              td
                | 2-3
              td
                | 1520
              td
                | 3100
              td
                | 4,71
