link(rel="stylesheet", href="css/partials/docs/content-guarantee.css")
section(class="docs-guarantee content")
  div(class="links")
    a(href="docs-guarantee-private.html")
      | Частное использование
    span
      | Коммерческое использование
  h2
    | Ограниченная 10-летняя гарантия на плиты из кварцевого материала Radianz для коммерческого применения
  p
    | Radianz® («Продукт»), который был постоянно установлен в одобренном внутреннем коммерческом приложении и находится в первоначально установленном месте, гарантируется LOTTE ADVANCED MATERIALS в течение десяти (10) лет с даты первоначальной установки при нормальном использовании. Эта гарантия не подлежит передаче и распространяется только на первоначального владельца. LOTTE ДОПОЛНИТЕЛЬНЫЕ МАТЕРИАЛЫ G по своему усмотрению либо предоставит заменяющий продукт, либо отремонтирует дефектные изделия в течение гарантийного срока. ДОЛГОСРОЧНЫЕ МАТЕРИАЛЫ LOTTE не несут ответственности за любые расходы, ущерб или другие убытки в связи с установкой Продукта. Чтобы получить право на обслуживание по настоящей гарантии, первоначальный владелец должен незамедлительно уведомить LOTTE ADVANCED MATERIALS, не позднее, чем через десять (10) дней после обнаружения любого предполагаемого производственного дефекта. LOTTE ADVANCED MATERIALS или его сервисному агенту должно быть разрешено надлежащим образом проверять продукт и соблюдать надлежащие процедуры гарантии.
  p
    | Все решения, принятые LOTTE ADVANCED MATERIALS в отношении наличия производственных дефектов, влияющих на настоящую гарантию, являются окончательными. Изготовитель / установщик обязан проверять Продукт до изготовления и установки, чтобы обеспечить его пригодность для проекта.
  h2
    | Настоящая гарантия не распространяется на следующее:
  ul
    li
      | Неправильное использование или злоупотребление (в том числе неравномерное воздействие прямых солнечных лучей, воздействие на улицу и использование, ущерб, вызванный ударом, обесцвечивание, вызванное воздействием определенных химических реактивов, и повреждение от воздействия чрезмерного тепла);
    li
      | Продукт перемещен из исходного места установки;
    li
      | Чипы, трещины или любой другой ударный ущерб;
    li
      | Неправильная установка или обслуживание (неправильный уход и техническое обслуживание могут привести к окрашиванию, царапинам, трещинам или сколам);
    li
      | Повреждения, вызванные чрезмерным нагревом (всегда должны использоваться триплеты и термопары);
    li
      | Ущерб, причиненный стихийным бедствием;
    li
      | Несоблюдение инструкций LOTTE ADVANCED MATERIALS, включая изготовление, установку, уход и обслуживание и т. д .;
    li
      | Продукт устойчив к пятнам, но не на 100% непроницаем для пятен. Многие обычные пятна можно удалить при правильной очистке. Эта гарантия не распространяется на окрашивание;
    li
      | Продукт устойчив к царапинам; однако царапины могут возникать при неправильном использовании. Следовательно, царапины и царапины не покрываются настоящей гарантией;
    li
      | Неисправность или неудовлетворенность внешним видом соединений или швов, или любого клея, конопатки или других вспомогательных предметов;
    li
      | Качество работы изготовителей или установщиков;
    li
      | Отказ, вызванный другими вспомогательными материалами подструктуры и материалами подложки, включая сбой шва;
    li
      | Фактический и окончательный установленный Продукт не гарантируется как точное совпадение цветов с образцами продуктов или печатными факсимильными аппаратами;
    li
      | Дефекты, такие как вкрапления или пятна, присущи производственному процессу. В случае, если визуальные дефекты, вкрапления или концентрация цветных пигментов больше 25 мм в диаметре, контрактный изготовитель должен сообщить об этом уполномоченному дистрибьютору Radianz до изготовления;
    li
      | Естественная вариация в продукте (плотность рисунка продукта может отличаться по цвету, размеру, форме и распределению);
    li
      | Любое новаторское использование материала, включая, но не ограничиваясь, изгиб и / или изгиб;
    li
      | Изменение толщины продукта;
    li
      | Монтаж раковины;
    li
      | Повреждение в результате сухой полировки или резки;
    li
      | Изменения на заводской отделке;
    li
      | Ущерб от производственного дефекта;
    li
      | Для Продуктов, не оплаченных полностью;
    li
      | Любой продукт, установленный или расположенный на открытом воздухе, например, открытые кухни, рабочие поверхности для барбекю или в отапливаемых помещениях, таких как сауны, парные и душевые кастрюли;
    li
      | Напольные покрытия.

  br
  br
  p
    | LOTTE ADVANCED MATERIALS по собственному усмотрению будет определять, предоставлять ли необходимые для ремонта материалы или производить замену в связи с производственными дефектами изделия. Кроме того, что указано в настоящей ограниченной гарантии, LOTTE ADVANCED MATERIALS не дает никаких гарантий, явных или подразумеваемых, в отношении изделия, включая, но не ограничиваясь указанным, любую подразумеваемую гарантию товарного качества или пригодности для определенной цели, и все подобные гарантии настоящим безоговорочно отклоняются. LOTTE ADVANCED MATERIALS не гарантирует, что изделие удовлетворит требования конечных пользователей. LOTTE ADVANCED MATERIALS не несет ответственности за случайные, косвенные, непрямые, особые, штрафные или показательные убытки любого рода, включая утрату деловой репутации, упущенную выгоду, утрату клиентуры или другие косвенные экономические убытки, включая, кроме прочего, нанесение ущерба имуществу, независимо от того, основано ли такое требование на толковании контракта, небрежности, правонарушающем действии (включая строгую ответственность) или по иным основаниям, в результате нарушения какой-либо гарантии независимо от того, была ли LOTTE ADVANCED MATERIALS поставлена в известность, имела другие основания знать или фактически знала о возможности таких убытков.

  h2
    | Гарантийное обслуживание
  p
    | Чтобы подать запрос на гарантийное обслуживание, обратитесь к своему оригинальному изготовителю/установщику. Чтобы получить обслуживание по этой ограниченной гарантии, от вас потребуется предъявить оригинал товарного/кассового чека или представить подтверждение покупки и установки Radianz® Quartz Surfaces, которое явно подтверждает покупку изделия и дату установки. Чтобы получить дополнительную информацию об этой гарантии, следует связаться по указанному ниже адресу:

  dl
    dt
      | Адрес
    dd
      | 142000, Россия, г. Домодедово мкр. Северный, ул. Логистическая 8
    dt
      | Телефон
    dd
      | 8(495) 223-64-40 (многоканальный)
    dt
      | E-mail
    dd
      | office@koros-alianse.ru
    dt
      | Часы работы
    dd
      | Понедельник - пятница: с 09:00 до 18:00 без обеда
      br
      | суббота - воскресенье: выходной
    dt
      | Почтовый адрес для корреспонденции
    dd
      | 142000, Московская обл., г. Домодедово, а/я 191

  p
    | Настоящая гарантия не может быть пересмотрена, исправлена или изменена каким-либо другим образом, кроме как посредством письменного документа, подписанного уполномоченным должностным лицом LOTTE ADVANCED MATERIALS.
